.seller__container {
    display: none;
}

.seller {
    display: none;
    max-width: 600px;
    position: absolute;

    flex-direction: column;
    z-index: 10;
    bottom: 0;
    margin-top: auto;
}

.seller__man {
    display: block;
    width: 80%;

    margin-top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    /* overflow: hidden; */
}

.seller__speech {
    color: black;
    font-size: 13px;
    padding: 25px 30px;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-image: url('../../img/speech_bubble.png');
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 350px;
    height: 200px;
    right: 0;
}

.seller__speech-btn {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-around;
    bottom: 10%;
}