.garage__place {
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
    border: 4px solid rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../img/parkovka.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%) brightness(50%);
}

.garage_car {
    background-image: url('../../img/parkovka.jpg');
    background-size: cover;
}