.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(32, 32, 32, 0.635);
}

.header__exp {
    margin-right: auto;
    /* width: 50%; */
    height: 4px;
    background-color: rgb(0, 255, 17);
    border-radius: 2px;
}

.header__info {
    padding: 5px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__buttons {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.header__info-lvl {
    margin-right: 10px;
}

.link {
    padding: 5px;
    margin: 2px;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: max-content; */
    /* border: 1px solid rgb(67, 67, 67); */
    border: 2px solid rgb(174, 96, 0);
    cursor: pointer;
    background-color: rgb(242, 133, 0);
    z-index: 5;
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
}
