.car__container {
    width: 100%;
}

.market__car {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 10px;
    background-color: rgb(35, 35, 35);

}

.market__car-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.market__car-img {
    width: 200px;
}

.market__car-info {
    display: flex;
    flex-direction: column;

}

.market__car-info span {
    font-size: 11px;
    margin-bottom: 7px;
}

.car__repair {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    top: 40vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    height: 350px;
    background-color: rgb(27, 27, 27);
    z-index: 5;
    border: 2px solid white;
}

.car__repair-icon {
    width: 50px;
}

.car__lift {
    position: absolute;
    width: 200px;
}

.car__repair-bar {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.car__repair-c {
    animation: lift 2s ease-in-out;
    margin-top: 40px;
    width: 300px;
}

@keyframes lift {
    0% {
        margin-top: 90px;
    }
    100% {
        margin-top: 40px;
    }
}