.car__container {
    width: 100%;
}

.market__car {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 4px solid rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 10px;
    background-image: url('../../img/vorota_2.png');
    background-size: 20%;
    background-color: rgb(35, 35, 35);

}

.market__car::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 100%;
    background: linear-gradient(-90deg, rgb(3, 3, 3) 40%, rgba(0,0,0,0) 100%);
    right: 0;
    z-index: 0;
}

.market__car-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.market__car-img {
    width: 200px;
}

.market__car-info {
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.market__car-info span {
    font-size: 11px;
    margin-bottom: 7px;
}

.car__repair {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    top: 40vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    height: 330px;
    background-image: url('../../img/service.jpg');
    background-size: cover;
    background-position: 50%;
    z-index: 5;
    border: 4px solid white;
}

.car__repair::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    background: linear-gradient(0deg, rgba(3, 3, 3, 0.776) 20%, rgba(0,0,0,0) 100%);
    bottom: 0;
    z-index: -1;
}

.car__repair-icon {
    width: 50px;
    z-index: 5;

}

.car__lift {
    position: absolute;
    width: 200px;
}

.car__repair-bar {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.car__repair-c {
    animation: lift 2s ease-in-out;
    margin-top: 40px;
    width: 300px;
}

@keyframes lift {
    0% {
        margin-top: 90px;
    }
    100% {
        margin-top: 40px;
    }
}