.car__container {
    width: 100%;
}

.market__container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.market__car {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(32, 32, 32, 0.635);}

.market__car::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 100%;
    background: linear-gradient(-90deg, rgb(3, 3, 3) 40%, rgba(0, 0, 0, 0) 100%);
    right: 0;
    z-index: 0;
    border-radius: 10px;

}

.market__car-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.market__car-img {
    width: 250px;
}

.market__car-info {
    display: flex;
    flex-direction: column;
    z-index: 5;
}

.market__car-info span {
    font-size: 11px;
    margin-bottom: 7px;
}

.black {
    position: absolute;
    display: none;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.755);
    transition: all .3s ease-in-out;
    z-index: 5;
}

@keyframes lift {
    0% {
        margin-top: 90px;
    }

    100% {
        margin-top: 40px;
    }
}

